DATABASE_URL=sqlite:///./storage/database/huce.db
UPLOAD_DIR=./storage/uploads
EXPORT_DIR=./storage/exports
SOURCE_DIR=./data/local/source
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:3010,http://localhost:3010
